<div class="container">
  <div class="row">
    <!-- <div class="col-md-12">
      <div class="row"> -->
    <div class="col-md-12">

      <div class="start">
        <div class="btn-circle-start">Start</div>
        <h3></h3>
      </div>
      <ul class="node-children">
        <li class="child">
          <div class="node-container">
            <div class="node">
              <div class="btn-circle-condition">IF</div>
            </div>
          </div>
        </li>
        <div class="vl">
          <div class="row">
            <div class="hl-message">
              <div class="btn-circle-condition">IF</div>
              <!-- <div class="row"> -->
              <div class="btn-circle-message"><i class="fa fa-comment"></i></div>
              <div class="vl-message">
                <div class="row">
                  <div class="hl-add">
                  </div>
                </div>
                <!-- </div> -->
              </div>
              <!-- </div> -->
              <!-- <div class="btn-circle-add"><i class="fa fa-plus"></i></div> -->
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="hl">
                <div class="btn-circle-end">End</div>
              </div>
            </div>
          </div>
        </div>

      </ul>
    </div>
    <!-- </div>
    </div> -->
  </div>
</div>
