<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="start">
        <div class="btn-circle-start">Start</div>
        <h3></h3>
      </div>
      <ul class="node-children">
        <li class="child">
          <ng-template #recursion let-arrayJson>
        <li class="child" *ngFor="let node of arrayJson"
          [ngStyle]="{'margin-left': (node.dataParentId == 'root') ? '0px' : '-66px'}">
          <!-- {{node.dataParentId}} -->
          <ng-container *ngIf="node.dataChild.length >= 0">
            <div class="node-container">
              <div class="node node--expanded">
                <div class="btn-circle-condition-if"><span>IF</span></div>
                <!-- <p>{{node.dataParentId}}</p> -->
                <!-- <div class="div-madeup"> -->
                <div class="btn-circle-message"><i class="fa fa-comment fa-xs"></i></div>
                <!-- </div> -->

                <!-- <button (click)="deleteModule(node.dataNodeId,node.dataParentId)" class="btn o-hide"><i
                    class="fa fa-trash"></i>
                  </button> -->
                <i (click)="deleteModule(node.dataNodeId,node.dataParentId)" class="fa fa-trash btn o-hide"></i>

              </div>
              <ng-container *ngTemplateOutlet="recursion;
          context:{ $implicit: node.dataChild }"></ng-container>
              <ul class="node-children">
                <li class="child">
                  <div class="node-container-add">
                    <div class="node--expanded-add"
                      [ngClass]="{'node-add': node.dataChild.length == 0, 'node-add-2': node.dataChild.length > 0}">
                      <!-- <p>{{node.dataChildId}}</p> -->
                      <button (click)="addModule(node.dataNodeId,node.dataParentId)"
                        [ngClass]="{'btn-circle-add': node.dataChild.length == 0, 'btn-circle-add-2': node.dataChild.length > 0}"
                        class="btn fa-xs">
                        <i class="fa fa-plus"></i></button>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </ng-container>
        </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursion;
    context:{ $implicit: arrayJson }"></ng-container>
        <li class="child">
          <div class="node-container-1">
            <div class="node node--expanded-add">
              <button (click)="addModule(null,'root')" class="btn btn-circle-add-main"><i
                  class="fa fa-plus"></i></button>
            </div>
          </div>
        </li>
        <li class="child" style="margin-top: 110px;">
          <div class="node-container">
            <div class="node node--expanded-else">
              <div class="btn-circle-condition-else">Else</div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>