.btn-circle-start {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 20px 0;
  font-size: inherit;
  -webkit-text-stroke-width: medium;
  line-height: 1.42;
  border-radius: 30px;
  color: rgb(0, 25, 48);
  background-color: #00b8be;
  border-color: rgb(0, 25, 48);
  /* margin-left: 0px;
  margin-top: 50px;
  margin-bottom: 0px; */
}

.btn-circle-end {
  width: 60px;
  height: 60px;
  text-align: center;
  padding: 20px 0;
  font-size: inherit;
  -webkit-text-stroke-width: medium;
  line-height: 1.42;
  border-radius: 30px;
  color: rgb(0, 25, 48);
  background-color: #9afcff;
  border-color: rgb(0, 25, 48);
  margin-left: 100px;
  margin-top: 16px;
  margin-bottom: -30px;
}

.vl {
  border-left: 1.5px solid rgb(0, 0, 0);
  height: auto;
  margin-left: 30px;
}

.vl-message {
  border-left: 1.5px solid rgb(0, 0, 0);
  height: auto;
  margin-left: 25px;
  margin-top: 15px;
}

.vl-add {
  border-left: 1.5px solid rgb(0, 0, 0);
  height: auto;
  margin-left: 30px;
}

.hl {
  border-bottom: 1.5px solid rgb(0, 0, 0);
  width: 100px;
  margin-top: 100px;
  margin-left: -15px;
  margin-right: 0px;
}

.hl-add {
  border-bottom: 1.5px solid rgb(0, 0, 0);
  width: 100px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.hl-message {
  border-bottom: 1.5px solid rgb(0, 0, 0);
  width: 150px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: auto;
}

.btn-circle-add {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 11px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 25px;
  color: rgb(166, 212, 255);
  background-color: #f0ff91;
  border-color: #d7e27f;
  margin-left: 350px;
  margin-top: 10px;
  z-index: 1;
}

.btn-circle-circular {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.btn-circle-condition {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 7px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 17px;
  background-color: rgb(216, 216, 216);
  margin-bottom: -42.5px;
  margin-left: 0px;
  margin-top: 30px;
  z-index: 1;
}

.btn-circle-message {
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 15px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 25px;
  color: rgb(166, 212, 255);
  background-color: #f0ff91;
  border-color: #d7e27f;
  margin-left: 70px;
  margin-top: 20px;
  z-index: 1;
}

div.vertical-line {
  width: 2px;
  height: 100%;
  float: left;
  border: 2px inset;
}

a {
  font-family: cursive;
  font-size: inherit;
  font-weight: bold;
}

i {
  color: #012422;
  font-size: 18px;
}

.row {
  margin: auto;
}

div {
  display: block;
}

.node-children {
  margin: 0 32px 32px -124px;
  list-style: none;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.start {
  position: relative;
  display: flex;
  margin: 16px;
}

.start::after {
  content: '';
  display: block;
  border-left: 2px solid #8897a2;
  width: 0;
  height: 0;
  left: 30px;
  top: 77px;
  padding: 16px 0;
  position: absolute;

  /* content: '';
  display: block;
  border-left: 2px solid #8897a2;
  width: 0;
  height: 0;
  left: 11px;
  top: 32px;
  padding: 16px 0;
  position: absolute; */
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}

.node-container {
  position: relative;
  margin: 0 0 16px 174px;
}

.node-container::before {
  content: '';
  position: absolute;
  display: block;
  border-left: 2px solid #8897a2;
  color: #41d6c3;
  width: 0;
  height: 18px;
  left: -44px;
  top: -17px;
}

.node-container-add::after {
  content: '';
  position: absolute;
  display: block;
  border-left: 2px solid #8897a2;
  width: 0;
  height: 40%;
  left: -44px;
  top: 16px;
}

.node-container-add::before {
  content: '';
  position: absolute;
  display: block;
  border-left: 2px solid #8897a2;
  color: #41d6c3;
  width: 0;
  height: 18px;
  left: -44px;
  top: -17px;
}

.node-container-add::after {
  content: '';
  position: absolute;
  display: block;
  border-left: 2px solid #8897a2;
  width: 0;
  height: 100%;
  left: -44px;
  top: 16px;
}

.node {
  position: relative;
  display: flex;
  outline: none;
  width: 460px;
  background-color: #fff;
  height: 90px;
  z-index: -5;
}

.node::before {
  content: '';
  display: block;
  border-bottom: 2px solid #8897a2;
  border-left: 2px solid #8897a2;
  border-bottom-left-radius: 15%;
  width: 150px;
  height: 47px;
  left: -44px;
  top: 0;
  padding: 0;
  position: absolute;
  z-index: -1;
}

.node-add {
  position: relative;
  display: flex;
  outline: none;
  width: 460px;
  background-color: #fff;
  height: 90px;
  z-index: -5;
}

.node-add::before {
  content: '';
  display: block;
  border-bottom: 2px solid #8897a2;
  border-left: 2px solid #8897a2;
  border-bottom-left-radius: 15%;
  width: 150px;
  height: 47px;
  left: 214px;
  top: -18px;
  padding: 0;
  position: absolute;
  z-index: -1;
}

.node--expanded::after {
  content: '';
  display: block;
  border-left: 2px solid #8897a2;
  width: 0;
  height: 9px;
  left: 130px;
  bottom: 0px;
  padding: 10px;
  position: absolute;
  z-index: 3;
}

.node--expanded-add::after {
  content: '';
  display: block;
  /* border-left: 2px solid #8897a2;
  width: 0;
  height: 9px;
  left: 130px;
  bottom: 0px;
  padding: 10px; */
  position: absolute;
  z-index: 3;
}

.node--expanded-add::after {
  content: '';
  display: block;
  /* border-left: 2px solid #8897a2;
  width: 0;
  height: 9px;
  left: 130px;
  bottom: 0px;
  padding: 10px; */
  position: absolute;
  z-index: 3;
}
