.btn-circle {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 17px;
  background-color: rgb(216, 216, 216);
}

a {
  font-family: cursive;
  font-size: inherit;
  font-weight: bold;
}
